extends ../index

block main-content
    .jumbotron.text-center(ng-controller="MissionController as vm")
        .row
            .col-md-4.col-md-offset-2
                .row
                    h3
                        strong(id="target") Target
                .row
                    img(src=mission.targetPicture, id="target-picture")
            .col-md-4
                .panel.panel-info
                    .panel-heading
                        h3.panel-title Details
                    .panel-body
                        ul.list-group
                            li.list-group-item Commissioner:
                                strong= mission.postedBy
                            li.list-group-item Location:
                                strong= mission.location
                            li.list-group-item Mission target:
                                strong= mission.missionTarget
                            li.list-group-item Difficult:
                                strong= mission.difficult
                            li.list-group-item Award:
                                strong= mission.award
                            li.list-group-item Description:
                                strong= mission.description
                            li.list-group-item(id="first" ng-show="vm.currentMission.agent !== undefined") Agent:
                                strong {{vm.currentMission.agent}}
                            if mission.agent
                                li.list-group-item(id="second") Agent:
                                    strong= mission.agent
        button.btn.btn-success(ng-click="vm.acceptMission()") Accept mission

