extends ../index

block main-content
    .jumbotron(ng-controller="MissionController as vm")
        .row.text-center
            h2 Missions
            col-md-2(ng-show="vm.identity.isAuthenticated()")
                a(href="/missions/add", style="margin-bottom: 20px").btn.btn-primary Add Mission
        form.row(ng-show='vm.identity.isAuthenticated()' action="/missions")
            .col-md-3.col-md-offset-2
                .form-group
                    .text-center
                        label.control-label(for='sort') Sort
                    div
                        select#sort.form-control(name="orderBy")
                            option(value='')
                            option(value='award') Award
                            option(value='difficult') Difficult
            .col-md-3
                .form-group
                    .text-center
                        label.control-label(for='sort') Search Location
                    div
                        input#location-search.form-control(placeholder='Location search', type='text' name="location")
            .col-md-3
                .form-group
                    button#search-btn.btn.btn-info(type="submit"  style="margin-top: 25px") Filter


        .row
            .col-md-8.col-md-offset-2
                .panel.panel-info
                    .panel-heading.text-center Missions
                    .panel-body
                        table.table.table.text-center
                                tr.table.text-center
                                    th.text-center Commissioner
                                    th.text-center Location
                                    th.text-center Awards
                                    th.text-center Difficult
                                    th.text-center
                                each item in missions
                                    tr
                                        td= item.postedBy
                                        td= item.location
                                        td= item.award
                                        td= item.difficult
                                        td(ng-if="vm.identity.isAuthenticated() && !vm.identity.isAuthorizedForRole('admin')")
                                            a.btn.btn-primary.animsition-link(href="/missions/details/" + item._id, data-animsition-out-class="fade-out-right") Details
                                        td(ng-if="vm.identity.isAuthorizedForRole('admin')")
                                                button.btn.btn-danger(ng-click='vm.deleteMission($event)' data-value="" + item._id) Delete Mission
        .row.text-center
            ul.pagination
                - for (var i = 1; i <= clientPages; i++){
                li
                    a(href='/missions?page=' + i)= i
                -}


