extends ../index

block main-content
    .container
        .row
            .jumbotron.text-center.col-md-3.col-md-offset-3(style="width: 40%")
                h3 Inbox Messages
        ul.nav.nav-tabs
            - for (var i = 0; i < messages.length; i++){
            if i === 0
                li.active
                    a.btn-info(href='#' + messages[i].from.username + i, data-toggle='tab', aria-expanded='true')= messages[i].from.username
            else
                li
                    a.btn-info(href='#' + messages[i].from.username + i , data-toggle='tab', aria-expanded='true')= messages[i].from.username
            -}
        #myTabContent.tab-content
            - for (var i = 0; i < messages.length; i++){
            if i == 0
                .jumbotron.tab-pane.fade.active.in(id=messages[i].from.username + i)
                    h4= messages[i].title
                    p= messages[i].content
            else
                .jumbotron.tab-pane.fade(id=messages[i].from.username + i)
                    h4= messages[i].title
                    p= messages[i].content
            -}